<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Glooko_POC" verbose="1" >
<test name="DayView" >
<classes>
 <class name="com.atmecs.glooko.testscripts.AddFoodMedicine"/> 
<!-- <class name="com.atmecs.glooko.testscripts.TestDeleteByTime"/> -->

</classes>
</test>
</suite>